@use "../../../styles//mixins" as *;
@use "../../../styles/variables" as *;

.main-navigation {
	&__menu-btn {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 3rem;
		height: 3rem;
		margin-right: 2rem;
		border: none;
		background: transparent;
		cursor: pointer;

		@media (min-width: $tablet-breakpoint) {
			display: none;
		}

		span {
			display: block;
			width: 3rem;
			height: 4px;
			background: $light;
		}
	}

	&__title {
		a {
			color: $light;
			text-decoration: none;
		}
	}

	&__header-nav {
		display: none;

		@media (min-width: $tablet-breakpoint) {
			display: block;
		}
	}

	&__drawer-nav {
		height: 100%;

		button {
			margin-right: 0;
		}
	}
}
