@use "../../../styles//mixins" as *;
@use "../../../styles/variables" as *;

.button {
	display: inline-block;
	padding: 0.5rem 1.5rem;
	margin-right: 1rem;
	border: 2px solid $primary;
	border-radius: 4px;
	color: $dark;
	text-decoration: none;
	font-weight: 700 !important;
	background: $primary;
	font: inherit;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		border-color: $light;
		background: $primary-darker;
		color: $light;
	}

	&--inverse {
		color: $light;
		border: 2px solid $light;
		background: $primary-darker;

		&:hover,
		&:active {
			color: $primary-darker;
			border-color: $primary;
			background: $primary;
		}
	}

	&--danger {
		border-color: $warning;
		background: $warning;

		&:hover,
		&:active {
			border-color: #f34343;
			background: #f34343;
		}
	}

	&--small {
		font-size: 0.8rem;
	}

	&--big {
		font-size: 1.5rem;
	}

	&:disabled,
	&:hover:disabled,
	&:active:disabled {
		color: #979797;
		border-color: #ccc;
		outline: none;
		background: #ccc;
		cursor: not-allowed;
	}
}
