@use "../../../styles//mixins" as *;
@use "../../../styles/variables" as *;

.form-control {
	margin: 1rem 0;

	label,
	input,
	textarea {
		display: block;
	}

	label {
		margin-bottom: 0.5rem;
		font-weight: bold;
	}

	input,
	textarea {
		width: 100%;
		padding: 0.15rem 0.25rem;
		border: 2px solid $light;
		background: $light;
		font: inherit;

		&:focus,
		&:active {
			border-color: $primary-light;
			outline: none;
			background: $primary-light;
		}
	}
	&--invalid {
		label,
		p {
			color: $warning;
			font-weight: 700;
		}

		input,
		textarea {
			border-color: $warning;
			background: $warning;
		}
	}
}
