@use "../../styles//mixins" as *;
@use "../../styles/variables" as *;

.authentication {
	width: 90%;
	max-width: 25rem;
	margin: 7rem auto;
	color: $light;
	text-align: center;
	background-color: $primary-darker;

	&__header {
		color: $light;
		text-align: center;
	}

	form {
		margin-bottom: 1rem;
	}
}
